{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Person</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="flex items-center justify-between bg-gray-800 px-10 py-4">
      <div class="flex items-center">
        <!-- Brand -->
        <svg
          class="w-6 h-6 text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
            clip-rule="evenodd"
          />
        </svg>

        <span class="text-white font-semibold text-lg">Census Records</span>
      </div>
      <div>
        <a
          href="/"
          class="mr-4 text-lg font-medium text-gray-200 hover:text-white"
        >
          Home
        </a>
      </div>
    </nav>
    <div class="max-w-lg mx-auto">
      <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        <div class="mb-4">
          <label for="first_name" class="block text-gray-700 font-bold mb-2">
            First Name:
          </label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="last_name" class="block text-gray-700 font-bold mb-2">
            Last Name:
          </label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="age" class="block text-gray-700 font-bold mb-2">
            Age:
          </label>
          <input
            type="number"
            id="age"
            name="age"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="occupation" class="block text-gray-700 font-bold mb-2"
            >Occupation:</label
          >
          <input
            type="text"
            id="occupation"
            name="occupation"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="location" class="block text-gray-700 font-bold mb-2"
            >Location:</label
          >
          <input
            type="text"
            id="location"
            name="location"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
            required
          />
        </div>
        <button
          type="submit"
          class="w-full bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
        >
          Add
        </button>
      </form>
    </div>
  </body>
</html>
