{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Census Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-800">
    <nav class="flex items-center px-10 py-4">
      <div class="flex items-center">
        <!-- Brand -->
        <svg
          class="w-6 h-6 text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
            clip-rule="evenodd"
          />
        </svg>

        <span class="text-white font-semibold text-lg">Census Records</span>
      </div>
    </nav>
    <div class="px-10 py-10 text-white">
      <table class="table-auto w-full">
        <thead>
          <div class="flex justify-between">
            <div class="relative">
              <input
                class="px-2 py-1 rounded"
                type="text"
                placeholder="Search people here..."
              />
              <button class="absolute right-0 my-1" type="submit">
                <svg
                  class="w-6 h-6 text-gray-800"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-width="2"
                    d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
                  />
                </svg>
              </button>
            </div>
            <a
              class="px-4 py-1 border-2 border-white flex items-center justify-center"
              href="{% url 'add' %}"
            >
              Add New Person
            </a>
          </div>
          <tr>
            <th class="px-4 py-2">First Name</th>
            <th class="px-4 py-2">Last Name</th>
            <th class="px-4 py-2">Age</th>
            <th class="px-4 py-2">Occupation</th>
            <th class="px-4 py-2">Address</th>
          </tr>
        </thead>
        <tbody>
          {% for person in records %}
          <tr>
            <td class="border px-4 py-2">{{ person.first_name }}</td>
            <td class="border px-4 py-2">{{ person.last_name }}</td>
            <td class="border px-4 py-2">{{ person.age }}</td>
            <td class="border px-4 py-2">{{ person.occupation }}</td>
            <td class="border px-4 py-2">{{ person.location }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
